body {
  background-color: #dbe8ff;
}

.main {
  padding: 10px 40px 30px 40px;
  background-color: white;
  max-width: 900px;
  margin:0px auto 0px auto;
  -webkit-box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.75);
}

h1, h2, .centered {
  text-align: center;
}
h1, h2 {
  text-transform: uppercase;
}
.centeredul {
    margin:0px auto 0px auto;
    width: 500px;
}
.tech-details p {
  margin: 2px;
}

p {
  margin: 2px
}

.education {
  text-align: center;
}
