body {
  max-width: 900px;
  margin:0px auto 0px auto;
}

h1, h2, .centered {
  text-align: center;
}
h1, h2 {
  text-transform: uppercase;
}
.centeredul {
    margin:0px auto 0px auto;
    width: 500px;
}
.tech-details p {
  margin: 2px;
}

p {
  margin: 2px
}

.education {
  text-align: center;
}
